@import './base.css';
@import './normalize.css';

/* reset some annoying values */
* {
  padding-inline-start: 0;
  margin: 0;
  color: lightgray;
}

input[type='checkbox'] {
  accent-color: gray;
  cursor: pointer;
}

#app {
  max-width: 720px;
  margin: 0px auto;
}
