@import './base.css';
@import './normalize.css';

/* reset some annoying values */
* {
  padding-inline-start: 0;
  margin: 0;
}

input[type='checkbox'] {
  accent-color: gray;
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 5px;
}
